.content{
  position: relative;
  width: 100%;
  height: 100%;
}

.content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.main {
  position: fixed;
  bottom: 0;
  top: -15px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  overflow-y: scroll;
}

.main__title {
  max-width: 740px;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  margin: 100px 0 40px;
}

.main__subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  margin: 0 0 80px;
}
